@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Básico*/

body {
    background-color: #eff3f5;  
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: #4B7A45;
    display: flex;
    justify-content: center;
    padding: 4px;
    border-bottom: #70a469 solid 2px;
}

header > a > img {
    width: 100px;
}

#simbolodeinfo {
    margin: 0;
}

@media (min-width:769px){

    #bnews {
    flex: 1;
    margin: 40px 0 0 0;
    display: block;
    }

    #snews {
        margin: 40px 0 0 0;
        width: 32%;
    }

    .snew {
    margin: auto;
    background-color: #fefefe;
    border: solid 2px #afafaf;
    border-radius: 15px;
    margin: 8px 0px;
    box-shadow: 0px 5px 20px #b9b9b9;
    width: 100%;
    }

    .i  {
    color: #6e6e6e;
    font-size: 2em;
    position: fixed;
    right: 1vw;
    top: 85vh;
    padding: 6px;
    background-color: #ffffff;
    border: #6e6e6e solid;
    border-radius: 10px;
    line-height: 0.8em;
    z-index: 10;
    }

.if {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    font-size: 0.8em;
    position: fixed;
    right: 1vw;
    top: 76vh;
    max-width: 25vw;
    color: #000000;
    background-color: #fffdda;
    box-shadow: 0 0 10px 1px #00000063;
    padding: 6px;
    z-index: 10;
    }
}

h1 {
    margin: 0;
    font-size: 1.5em;
    font-family: 'montserrat';
    font-weight: 800px;
    display: -webkit-box;
    line-clamp: inherit;
}

h2 {
    margin: 0;
    font-size: 0.9em;
}

/*Conteúdo*/

main {
    align-items: flex-start;
    display: flex;
}

.tudo { /*Espaços da direita e da esquerda*/
    width: 15%;
    height: 90vh;
}
#right {
    position: absolute;
    right: 0;
}

#news { /*Conjunto de todas as notícias*/
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;

}

#news > #bnews > a {
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#news > #snews > a {
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* Notícia individual */
.bnew, .cf {
    margin: auto;
    background-color: #fefefe;
    border: solid 2px #afafaf;
    border-radius: 15px;
    margin: 8px 0px;
    box-shadow: 0px 5px 20px #b9b9b9;
    transition: transform 1s ease;
}

/* div da esquerda */
.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.shadow {
    height: calc(520px/3);
    width: 260px;
    position: absolute;
    background: linear-gradient(to bottom, #00000000, #00000000, #00000000, #00000000, #000000, #000000);
    border-radius: 15px;
    transition: opacity 0.2s ease;
    opacity: 1;
}

/*Animação*/


@media (min-width:768px) {
    
    .shadow:hover { /*Sombra da foto diminui*/
        opacity: 80%;
    }

    .bnew, .cf {
        flex: 1;
    }

    .bnew:hover, .cf:hover { /*Aumenta a notícia ao colocar o mouse em cima*/
        transform: scale(1.1)
    }

    .bnew:active, .cf:active { 
        transform: scale(3); /*Aumenta a notícia ao clicar*/
        opacity: 10%;
    }

    .bnew:hover, .cf:hover {
        border: 3px #4B7A45 solid;
    }

    .bnew:hover, .cf:hover > .texto > hr {
        border-color: #4B7A45;
    }

    .snew {
        flex: 1;
    }

    .snew:hover > .scont > .stxt > .manchete { /*Aumenta a notícia ao colocar o mouse em cima*/
        color: #deffda;
        text-decoration: underline;
    }

    .snew:active { 
        transform: scale(3); /*Aumenta a notícia ao clicar*/
        opacity: 10%;
    }

    .snew:hover {
        border: 3px #4B7A45 solid;
        border-radius: 18px;
    }

    .info:hover > .if {
        display: block;
    }
}

/* div à direita na notícia grande*/
.texto {
    flex: 1;
    margin: 0 15px;
    text-align: left;
}

/* foto */
.fotodestaque {
    position: relative;
    margin: 0;
    width: 100%;
}

/*Texto*/

.categoria {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 8px 0 0 0;
    max-width: 50%;
    color: #444444;
}

.manchete {
    font-family: 'Montserrat';
    line-height: 1em;
    margin: 2px;
    margin-top: 8px;
    color: #446d3f;
}

hr {
    border: #afafaf solid 1px;
    position: relative;
    width: 100%;
}

.topic {
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5c5c;
    margin: 5px 0;
}

.newinfo {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.newinfo > p {
    margin: 10px 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #5c5c5c;
}

/*.snew*/

.snew {
    width: 100%;
    aspect-ratio: 3 / 2;
    display: flex;
}

.simg {
    width: 32%;
    position: absolute;
    z-index: 1;
}

.simg > img {
    width: 100%;
    border-radius: 15px;
    pointer-events: none;
}

.scont {
    background-image: linear-gradient(to bottom, #00000000, #00000009, #000000);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.scat {
    flex: 1;
    text-indent: 1em;
}

.stxt > h1{
    color: #f9f9f9;
    margin-bottom: 5px;
    padding-left: 12px;
}

/*Footer*/

footer {
    background-color: #4B7A45;
    margin: 0;
    color: #d4dcdf;
    position: relative;
    width: 100%;
}

footer > div {
    padding: 8px 0 10px 15px;
    margin: 0;
}

footer > div > p {
    margin: 0;
}

/*Celular*/
@media (max-width: 768px) {

    .tudo {
        display: none;
    }

    #bnews {
        min-height: 100vh;
    }

    .bnew, .cf {
        width: 100vw;
        border-radius: 5px;
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
    }

    .cf > .texto > .topic {
        display: none;
    }

    .cf > .texto > .newinfo {
        display: none;
    }

    #snews {
        display: none;
    }

    .foto {
        width: 100%;
        border-radius: 5px;
    }

    .fotodestaque {
        width: 100%;
        border-radius: 5px;
    }

    .shadow {
        display: none;
    }

    .texto {
        font-size: 1em;
        color: #000000;
        background-color: #fdfdfd;
    }

    .continue {
        margin: 0 0 10px 0;
    }

    #manc {
        margin-left: 5px;
    }

    hr {
        display: none;
    }

    /*info*/
    .i  {
        color: #6e6e6e;
        font-size: 2em;
        position: fixed;
        right: 3vw;
        top: 85vh;
        padding: 6px;
        background-color: #ffffff;
        border: #6e6e6e solid;
        border-radius: 10px;
        line-height: 0.8em;
        z-index: 10;
        
    }

    .if {
        display: none;
        background-color: #fffdda;
        width: 100%;
        position: fixed;
        top: 73vh;
        z-index: 10;
    }

    .i:focus + .if { 
        display: block;
    }
}